<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>TwitDiff</title>
  </head>
  <body>
    <div class="container">
      <h1><a href="/">TwitDiff</a></h1>
      <p>For the twitter obsessive.</p>
      <p>See who doesn't follow you back.</p>
      <p>Also see who you don't follow back.</p>
      <p>We can only process the first 5000 accounts in each list.
        If you're a big account then this won't be very useful for you.</p>
      <form class="form-inline" action="/diff">
        <label class="sr-only" for="username">Username</label>
        <div class="input-group mr-sm-2 mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input name="username" class="form-control" placeholder="Username" id="username" type='text' {% if username %} value={{username}} {% endif %} required>
        </div>
        <select class="custom-select mr-sm-2 mb-3" id="type" name="type">
          <option value="haters">They don't follow back</option>
          <option value="victims">You don't follow back</option>
        </select>
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
      </form>
      {% if errors|length > 0 %}
        {% for error in errors %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
      {% endif %}
      {% block content %}
      {% endblock %}
    </div>

    <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
